<a href="https://colab.research.google.com/github/adrianciemerych/machine-learning/blob/main/ml_course/preprocessing/01_LabelEncoder.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importowanie bibliotek

In [ ]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.2.2'

Wygenerowanie danych

In [ ]:
data = {
    'size' : ['XL', 'L', 'M', 'L', 'M'],
    'color' : ['red', 'green', 'blue', 'green', 'red'],
    'gender' : ['female', 'male', 'male', 'female', 'female'],
    'price' : [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight' : [500,450,300,380,410],
    'bought' : ['yes', 'no', 'yes', 'no', 'yes'] 
}

df_raw = pd.DataFrame(data)
df_raw

  size  color  gender  price  weight bought
0   XL    red  female  199.0     500    yes
1    L  green    male   89.0     450     no
2    M   blue    male   99.0     300    yes
3    L  green  female  129.0     380     no
4    M    red  female   79.0     410    yes

Utworzenie kopii

In [ ]:
df = df_raw.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      object
 1   color   5 non-null      object
 2   gender  5 non-null      object
 3   price   5 non-null      float64
 4   weight  5 non-null      int64
 5   bought  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

Zmiana typu danych i wstępna eksploracja

In [ ]:
for col in ['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

In [ ]:
df.describe()
# domyślnie wyświetla wyniki tylko dla kolumn numerycznych

            price      weight
count    5.000000    5.000000
mean   119.000000  408.000000
std     48.476799   75.299402
min     79.000000  300.000000
25%     89.000000  380.000000
50%     99.000000  410.000000
75%    129.000000  450.000000
max    199.000000  500.000000

In [ ]:
df.describe().T
df.describe().transpose()

        count   mean        std    min    25%    50%    75%    max
price     5.0  119.0  48.476799   79.0   89.0   99.0  129.0  199.0
weight    5.0  408.0  75.299402  300.0  380.0  410.0  450.0  500.0

In [ ]:
# aby wyświetlić statystyki dla innych dtype - parametr 'include'
df.describe(include = 'category').T

       count unique     top freq
size       5      3       L    2
color      5      3   green    2
gender     5      2  female    3
bought     5      2     yes    3

Label Encoder

In [ ]:
from sklearn.preprocessing import LabelEncoder

# klasa LabelEncoder pozwala na zamienienie zmiennej na wartości 1,0
#tworzymy instancję klasy
le = LabelEncoder()
# dopasowanie zmiennej do klasy
le.fit(df['bought'])

# następnie używamy metody transform żeby zmapować dane na takie ktore chcemy
le.transform(df['bought'])

# metoda le.fit_transform(df['bought']) spełnia obie ww. funkcje

array([1, 0, 1, 0, 1])

In [ ]:
# W celu sprawdzenia jak wyglądają klasy
le.classes_

array(['no', 'yes'], dtype=object)

In [ ]:
le.fit_transform(df['bought'])
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  weight  bought
0   XL    red  female  199.0   500.0       1
1    L  green    male   89.0   450.0       0
2    M   blue    male   99.0   300.0       1
3    L  green  female  129.0   380.0       0
4    M    red  female   79.0   410.0       1

In [ ]:
# Wcelu odwrócenia naniesionych zmian można zastosować 
le.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

In [ ]:
df['bought'] = le.inverse_transform(df['bought'])
df

# Należy pamiętać! : Klasa LabelEncoder służy do przekształcania naszych 
# zmiennych docelowych. Nie powinno się jej stosować do przekształacania
# zmiennych opisujących

  size  color  gender  price  weight bought
0   XL    red  female  199.0   500.0    yes
1    L  green    male   89.0   450.0     no
2    M   blue    male   99.0   300.0    yes
3    L  green  female  129.0   380.0     no
4    M    red  female   79.0   410.0    yes