<a href="https://colab.research.google.com/github/adrianciemerych/machine-learning/blob/main/ml_course/preprocessing/03_standarization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

data = {
    'size' : ['XL', 'L', 'M', 'L', 'M'],
    'color' : ['red', 'green', 'blue', 'green', 'red'],
    'gender' : ['female', 'male', 'male', 'female', 'female'],
    'price' : [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight' : [500,450,300,380,410],
    'bought' : ['yes', 'no', 'yes', 'no', 'yes'] 
}

df_raw = pd.DataFrame(data)
df_raw

df = df_raw.copy()

for col in ['size', 'color', 'gender', 'bought']:
  df[col] = df[col].astype('category')

df['weight'] = df['weight'].astype('float')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   size    5 non-null      category
 1   color   5 non-null      category
 2   gender  5 non-null      category
 3   price   5 non-null      float64
 4   weight  5 non-null      float64
 5   bought  5 non-null      category
dtypes: category(4), float64(2)
memory usage: 740.0 bytes

In [9]:
print(df['price'])
print('Średnia', df['price'].mean())
print('Odchylenie standardowe: ', df['price'].std())

0    199.0
1     89.0
2     99.0
3    129.0
4     79.0
Name: price, dtype: float64
Średnia 119.0
Odchylenie standardowe:  48.47679857416329

In [10]:
# standaryzacja - odejmowanie średniej oraz dzielenie przez odchylenie standardowe
(df['price'] - df['price'].mean())/ df['price'].std()

0    1.650274
1   -0.618853
2   -0.412568
3    0.206284
4   -0.825137
Name: price, dtype: float64

In [11]:
from sklearn.preprocessing import scale

# klasa która standaryzuje dane - natomiast klasa StandardScaler jest 
# lepsza ponieważ pozwala na zachowanie danych
scale(df['price'])

array([ 1.84506242, -0.69189841, -0.4612656 ,  0.2306328 , -0.92253121])

In [14]:
# biblioteka numpy - estymator obciążony wariancji
# biblioteka pandas - estymator nieobciążony wariancji
# stąd mogą być różnice w obliczeniach wariancji/odchylenia standardowego
# dla tych dwóch bibliotek

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[['price']])
scaler.transform(df[['price']])

# Można również przekształcać wszystkie kolumny w tabeli naraz

scaler.fit_transform(df[['price', 'weight']])

array([[ 1.84506242,  1.3660019 ],
       [-0.69189841,  0.62360956],
       [-0.4612656 , -1.60356745],
       [ 0.2306328 , -0.41573971],
       [-0.92253121,  0.02969569]])

In [16]:
# Przekształcanie całej tabeli

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

le = LabelEncoder()
df['bought'] = le.fit_transform(df['bought'])

scaler = StandardScaler()
df[['price', 'weight']] = scaler.fit_transform(df[['price', 'weight']])

df = pd.get_dummies(data = df, drop_first = True)

df

,price,weight,bought,size_M,size_XL,color_green,color_red,gender_male
0,1.845062,1.366002,1,0,1,0,1,0
1,-0.691898,0.623610,0,0,0,1,0,1
2,-0.461266,-1.603567,1,1,0,0,0,1
3,0.230633,-0.415740,0,0,0,1,0,0
4,-0.922531,0.029696,1,1,0,0,1,0